body {
    color: white;
    background-color:black;
    margin: 0px;
}

#modal {
    z-index: 1000;
    position: absolute;
    background-color: black;
    min-width: 100%;
    min-height: 100%;
    display: table;
}

#modalText {
    font-size: 15vmin;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#modalTextSmall {
    font-size: 6vmin;
}

.footer {
    bottom: 0;
    font-size: 1.5vmin;  
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#iroTitle {
    font-size: 15vmin;

}

#sourceContent {
    display: table-cell;
}

 
#scrollableWindow{
 overflow: auto;
 width:75vw;
 }

a{
  color:white;
  text-decoration: none;
}

.fade-out {
animation: fadeOut ease 1s;
}
@keyframes fadeOut {
100% {opacity:0;}
0% {opacity:1;}
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

